.blue-theme {
  --tr-color-primary-brand-light-default: #3973FF;
  --tr-color-primary-brand-light-hover: #5C92FF;
  --tr-color-primary-brand-light-active: #2352D2;
  --tr-color-primary-brand-light-pressed: #2352D2;
  --tr-color-primary-brand-light-disable: #A2C7FF;
  --tr-color-primary-brand-light-light: #E8F3FF;
  --tr-color-primary-brand-dark-default: #0C296E;
  --tr-color-primary-brand-dark-hover: #25478A;
  --tr-color-primary-brand-dark-active: #092165;
  --tr-color-primary-brand-dark-pressed: #092165;
  --tr-color-primary-brand-dark-disable: #7394C5;
  --tr-color-primary-brand-dark-light: #E8F3FF;
  --tr-color-info-default: #3491F9;
  --tr-color-info-hover: #58A9FA;
  --tr-color-info-active: #206CCF;
  --tr-color-info-pressed: #206CCF;
  --tr-color-info-disable: #9FD3FD;
  --tr-color-info-light: #E8F7FF;
  --tr-color-error-default: #F53F3F;
  --tr-color-error-hover: #F76560;
  --tr-color-error-active: #CB2634;
  --tr-color-error-pressed: #CB2634;
  --tr-color-error-disable: #FBACA3;
  --tr-color-error-light: #FFECE8;
  --tr-color-error-border: #FBACA3;
  --tr-color-warning-default: #FF7D00;
  --tr-color-warning-hover: #FF9A2D;
  --tr-color-warning-active: #D25F00;
  --tr-color-warning-pressed: #D25F00;
  --tr-color-warning-disable: #FFCF8B;
  --tr-color-warning-light: #FFF7E8;
  --tr-color-success-default: #00B42A;
  --tr-color-success-hover: #25C343;
  --tr-color-success-active: #009A29;
  --tr-color-success-pressed: #009A29;
  --tr-color-success-disable: #7BE188;
  --tr-color-success-light: #E8FFEA;
  --tr-color-text-primary: #1f2329;
  --tr-color-text-icon1: #2b2f36;
  --tr-color-text-secondary: #646a73;
  --tr-color-text-placeholder: #8f959e;
  --tr-color-text-disable: #bbbfc4;
  --tr-color-text-white-primary: #FFFFFF;
  --tr-color-text-white-secondary: #ffffffd9;
  --tr-color-text-white-placeholder: #ffffffa6;
  --tr-color-text-white-disable: #ffffff4d;
  --tr-color-text-link-default: #0C296E;
  --tr-color-text-link-hover: #25478A;
  --tr-color-text-link-active: #092165;
  --tr-color-bg-page: #F3F3F3;
  --tr-color-bg-container: #FFFFFF;
  --tr-color-bg-secondarycontainer: #F8F9FA;
  --tr-color-bg-thirdcontainer: #f5f6f7;
  --tr-color-bg-container-hover: #EFF0F1;
  --tr-color-bg-fourthcontainer: #f2f3f5;
  --tr-color-bg-fourthcontainer-hover: #E1E3E5;
  --tr-color-bg-fifthcontainer: #EFF0F1;
  --tr-color-bg-fifthcontainer-hover: #dee0e3;
  --tr-color-bg-button-normal: #f2f3f5;
  --tr-color-bg-disable: #EFF0F1;
  --tr-color-border-container-light: #dee0e3;
  --tr-color-border-container-dark: #d0d3d6;
  --tr-color-border-light: #EFF0F1;
  --tr-color-border-divider: #dee0e3;
  --tr-color-table-bg-normal: #FFFFFF;
  --tr-color-table-bg-zebra: #F8F9FA;
  --tr-color-table-bg-head: #f2f3f5;
  --tr-color-table-bg-hover: #EFF0F1;
  --tr-color-table-bg-pressed: #dee0e3;
  --tr-color-table-bg-selected: #E8F7FF;
  --tr-color-scrollbar: #0000001a;
  --tr-color-bg-mask: #00000080;
  --tr-color-nav-dark-bg-default: #192543;
  --tr-color-nav-dark-bg-hover: #2E3C63;
  --tr-color-nav-dark-bg-open: #1F2E54;
  --tr-color-nav-light-text-default: #3973FF;
}