:root {
  --color-blue-light-1: #E8F3FF;
  --color-blue-light-2: #C5DEFF;
  --color-blue-light-3: #A2C7FF;
  --color-blue-light-4: #7FAEFF;
  --color-blue-light-5: #5C92FF;
  --color-blue-light-6: #3973FF;
  --color-blue-light-7: #2352D2;
  --color-blue-light-8: #1335A6;
  --color-blue-light-9: #071E79;
  --color-blue-light-10: #000D4D;
  --color-blue-dark-1: #E8F3FF;
  --color-blue-dark-2: #A9C2E2;
  --color-blue-dark-3: #7394C5;
  --color-blue-dark-4: #496BA7;
  --color-blue-dark-5: #25478A;
  --color-blue-dark-6: #0C296E;
  --color-blue-dark-7: #092165;
  --color-blue-dark-8: #051A5D;
  --color-blue-dark-9: #011354;
  --color-blue-dark-10: #000D4D;
  --color-cyan-light-1: #e8fffa;
  --color-cyan-light-2: #b7f5eb;
  --color-cyan-light-3: #89ebde;
  --color-cyan-light-4: #5fe2d5;
  --color-cyan-light-5: #37d8cd;
  --color-cyan-light-6: #13cec9;
  --color-cyan-light-7: #0caeae;
  --color-cyan-light-8: #07898D;
  --color-cyan-light-9: #03666d;
  --color-cyan-light-10: #00454d;
  --color-cyan-dark-1: #E3F7FF;
  --color-cyan-dark-2: #9EC8DB;
  --color-cyan-dark-3: #669DBA;
  --color-cyan-dark-4: #397396;
  --color-cyan-dark-5: #194f75;
  --color-cyan-dark-6: #053D65;
  --color-cyan-dark-7: #032E51;
  --color-cyan-dark-8: #032745;
  --color-cyan-dark-9: #022039;
  --color-cyan-dark-10: #02192D;
  --color-red-light-1: #FFF3E8;
  --color-red-light-2: #FDDDC3;
  --color-red-light-3: #FCC59F;
  --color-red-light-4: #FBAC7B;
  --color-red-light-5: #F99057;
  --color-red-light-6: #F77234;
  --color-red-light-7: #CC5120;
  --color-red-light-8: #A23510;
  --color-red-light-9: #771F05;
  --color-red-light-10: #4D0E00;
  --color-red-dark-1: #FFF1E8;
  --color-red-dark-2: #E4BEA8;
  --color-red-dark-3: #C98E71;
  --color-red-dark-4: #AD6343;
  --color-red-dark-5: #923E20;
  --color-red-dark-6: #771F05;
  --color-red-dark-7: #6C1803;
  --color-red-dark-8: #621202;
  --color-red-dark-9: #570C01;
  --color-red-dark-10: #4D0800;
  --color-info-1: #E8F7FF;
  --color-info-2: #C3E7FE;
  --color-info-3: #9FD3FD;
  --color-info-4: #7CC0FC;
  --color-info-5: #58A9FA;
  --color-info-6: #3491F9;
  --color-info-7: #206CCF;
  --color-info-8: #104BA3;
  --color-info-9: #053078;
  --color-info-10: #001A4D;
  --color-error-1: #FFECE8;
  --color-error-2: #FDCDC5;
  --color-error-3: #FBACA3;
  --color-error-4: #F98981;
  --color-error-5: #F76560;
  --color-error-6: #F53F3F;
  --color-error-7: #CB2634;
  --color-error-8: #A1151E;
  --color-error-9: #770813;
  --color-error-10: #4D000A;
  --color-warning-1: #FFF7E8;
  --color-warning-2: #FFE4BA;
  --color-warning-3: #FFCF8B;
  --color-warning-4: #FFB65D;
  --color-warning-5: #FF9A2D;
  --color-warning-6: #FF7D00;
  --color-warning-7: #D25F00;
  --color-warning-8: #A64501;
  --color-warning-9: #792E00;
  --color-warning-10: #4D1B00;
  --color-success-1: #E8FFEA;
  --color-success-2: #AFF0B5;
  --color-success-3: #7BE188;
  --color-success-4: #4DD263;
  --color-success-5: #25C343;
  --color-success-6: #00B42A;
  --color-success-7: #009A29;
  --color-success-8: #008026;
  --color-success-9: #006421;
  --color-success-10: #004D1C;
  --color-grayblue-00: #FFFFFF;
  --color-grayblue-25: #F8F9FA;
  --color-grayblue-50: #f5f6f7;
  --color-grayblue-100: #f2f3f5;
  --color-grayblue-200: #EFF0F1;
  --color-grayblue-250: #E1E3E5;
  --color-grayblue-300: #dee0e3;
  --color-grayblue-350: #d0d3d6;
  --color-grayblue-400: #bbbfc4;
  --color-grayblue-500: #8f959e;
  --color-grayblue-600: #646a73;
  --color-grayblue-650: #51565d;
  --color-grayblue-700: #373c43;
  --color-grayblue-800: #2b2f36;
  --color-grayblue-900: #1f2329;
  --color-grayblue-950: #0f1114;
  --color-grayblue-1000: #000000;
  --color-gray-00: #FFFFFF;
  --color-gray-25: #F8F9FA;
  --color-gray-50: #f5f6f7;
  --color-gray-100: #F3F3F3;
  --color-gray-200: #EEEEEE;
  --color-gray-250: #E7E7E7;
  --color-gray-300: #DCDCDC;
  --color-gray-350: #C5C5C5;
  --color-gray-400: #A6A6A6;
  --color-gray-500: #8B8B8B;
  --color-gray-600: #777777;
  --color-gray-650: #5E5E5E;
  --color-gray-700: #4B4B4B;
  --color-gray-800: #2C2C2C;
  --color-gray-900: #242424;
  --color-gray-950: #181818;
  --color-gray-1000: #000000;
  --color-black-1: #00000005;
  --color-black-2: #00000008;
  --color-black-3: #0000000d;
  --color-black-4: #00000014;
  --color-black-5: #00000026;
  --color-black-6: #00000040;
  --color-black-7: #00000073;
  --color-black-8: #000000a6;
  --color-black-9: #000000d9;
  --color-black-10: #000000;
  --color-white-1: #ffffff05;
  --color-white-2: #ffffff08;
  --color-white-3: #ffffff0d;
  --color-white-4: #ffffff14;
  --color-white-5: #ffffff26;
  --color-white-6: #ffffff4d;
  --color-white-7: #ffffff73;
  --color-white-8: #ffffffa6;
  --color-white-9: #ffffffd9;
  --color-white-10: #FFFFFF;
  --font-families-tr-font-family-base: PingFang SC;
  --regular: 400;
  --semibold: 600;
  --line-heights-20: 20px;
  --line-heights-22: 22px;
  --line-heights-24: 24px;
  --line-heights-28: 28px;
  --line-heights-32: 32px;
  --line-heights-40: 40px;
  --line-heights-48: 48px;
  --line-heights-64: 64px;
  --line-heights-80: 80px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-40: 40px;
  --font-size-56: 56px;
  --font-size-72: 72px;
  --tr-regular-12px-font-family: PingFang SC;
  --tr-regular-12px-font-weight: 400;
  --tr-regular-12px-line-height: 20px;
  --tr-regular-12px-font-size: 12px;
  --tr-regular-14px-font-family: PingFang SC;
  --tr-regular-14px-font-weight: 400;
  --tr-regular-14px-line-height: 22px;
  --tr-regular-14px-font-size: 14px;
  --tr-regular-16px-font-family: PingFang SC;
  --tr-regular-16px-font-weight: 400;
  --tr-regular-16px-line-height: 24px;
  --tr-regular-16px-font-size: 16px;
  --tr-bold-12px-font-family: PingFang SC;
  --tr-bold-12px-font-weight: 600;
  --tr-bold-12px-line-height: 20px;
  --tr-bold-12px-font-size: 12px;
  --tr-bold-14px-font-family: PingFang SC;
  --tr-bold-14px-font-weight: 600;
  --tr-bold-14px-line-height: 22px;
  --tr-bold-14px-font-size: 14px;
  --tr-bold-16px-font-family: PingFang SC;
  --tr-bold-16px-font-weight: 600;
  --tr-bold-16px-line-height: 24px;
  --tr-bold-16px-font-size: 16px;
  --tr-bold-20px-font-family: PingFang SC;
  --tr-bold-20px-font-weight: 600;
  --tr-bold-20px-line-height: 28px;
  --tr-bold-20px-font-size: 20px;
  --tr-bold-24px-font-family: PingFang SC;
  --tr-bold-24px-font-weight: 600;
  --tr-bold-24px-line-height: 32px;
  --tr-bold-24px-font-size: 24px;
  --tr-bold-32px-font-family: PingFang SC;
  --tr-bold-32px-font-weight: 600;
  --tr-bold-32px-line-height: 40px;
  --tr-bold-32px-font-size: 32px;
  --tr-bold-40px-font-family: PingFang SC;
  --tr-bold-40px-font-weight: 600;
  --tr-bold-40px-line-height: 48px;
  --tr-bold-40px-font-size: 40px;
  --tr-bold-56px-font-family: PingFang SC;
  --tr-bold-56px-font-weight: 600;
  --tr-bold-56px-line-height: 64px;
  --tr-bold-56px-font-size: 56px;
  --tr-bold-72px-font-family: PingFang SC;
  --tr-bold-72px-font-weight: 600;
  --tr-bold-72px-line-height: 80px;
  --tr-bold-72px-font-size: 72px;
  --tr-spacing-xxs: 4px;
  --tr-spacing-xs: 8px;
  --tr-spacing-s: 12px;
  --tr-spacing-m: 16px;
  --tr-spacing-l: 20px;
  --tr-spacing-xl: 24px;
  --tr-spacing-xxl: 40px;
  --tr-spacing-xxxl: 80px;
  --tr-height-xs: 24px;
  --tr-height-s: 28px;
  --tr-height-m: 32px;
  --tr-height-l: 34px;
  --tr-height-xl: 40px;
  --tr-height-xxl: 48px;
  --tr-height-xxxl: 56px;
  --tr-radius-zero: 0px;
  --tr-radius-s: 2px;
  --tr-radius-m: 4px;
  --tr-radius-l: 8px;
  --tr-radius-full: 50px;
  --tr-radius-left: 2px;
  --tr-radius-right: 0px;
  --tr-shadows-s1: 0px 2px 5px 0px #0000001a;
  --tr-shadows-s2: 0px 2px 6px 0px #00000026;
  --tr-shadows-s3: 0px 4px 10px 0px #0000001a;
  --tr-shadows-s4: 0px 8px 20px 0px #0000001a;
  --tr-shadows-focus-brand-light: 0px 0px 0px 2px #165dff33;
  --tr-shadows-focus-brand-dark: 0px 0px 0px 2px #051a7933;
  --tr-shadows-focus-error: 0px 0px 0px 2px #de1c2233;
  --tr-shadows-focus-info: 0px 0px 0px 2px #57a9fb33;
  --tr-shadows-underscore-white: 0px -1px 0px 0px #ffffff inset;
  --tr-shadows-underscore-error: 0px -1px 0px 0px #cb2634 inset;
  --tr-shadows-underscore-green: 0px -1px 0px 0px #009a29 inset;
  --tr-shadows-underscore-info: 0px -1px 0px 0px #0e42d2 inset;
  --tr-shadows-underscore-gray: 0px -1px 0px 0px #333333 inset;
  --tr-shadows-up-down-left-right: 0px -1px 0px 0px #e5e6eb inset,0px 1px 0px 0px #e5e6eb inset,-1px 0px 0px 0px #e5e6eb inset,1px 0px 0px 0px #e5e6eb inset;
  --tr-shadows-up-down-right: 0px -1px 0px 0px #e5e6eb inset,0px 1px 0px 0px #e5e6eb inset,-1px 0px 0px 0px #e5e6eb inset;
  --tr-shadows-up-down-left: 0px -1px 0px 0px #e5e6eb inset,0px 1px 0px 0px #e5e6eb inset,1px 0px 0px 0px #e5e6eb inset;
  --tr-shadows-inner-1-right: -1px 0px 0px 0px #e5e6eb inset;
  --tr-shadows-inner-1-left: 1px 0px 0px 0px #e5e6eb inset;
  --tr-shadows-inner-1-down: 0px -1px 0px 0px #e5e6eb inset;
  --tr-shadows-inner-1-up: 0px 1px 0px 0px #e5e6eb inset;
}